.featuredHome-container{
    height: 365px;
    background-image: url(../../images/featuredBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.btn-center{
    margin-left: 117px;
}