
.SupportBtn:hover{
    background-color: #141471;
    color: #fff;
    transition: 0.5s;
}
.single-feature{
    position: relative;
  }
  .feature-btn {
    position: absolute;
    bottom: 40%;
    right: 30%;
  }